#createPageLookingBody input[type="text"].start_date, 
#createPageLookingBody input[type="text"].end_date {
	margin-left: .3%;
	margin-right: .3%;
	width: 48%;
	display: inline-block;
}

#createPageLookingBody input[type="text"]#id_major {
	width: 50%;
	display: inline-block;
}

#createPageLookingBody input[type="text"]#id_degree {
	display: inline-block;
}

#positionHeader {
	display: block;
	margin-bottom: 10px;
	margin-right: 50%;
}

#createPageRecruitingBody input[type="text"].positionCity {
	width: 50%;
	margin: 0;
	margin-right: 0;
}

#createPageRecruitingBody input[type="text"].positionState {
	display: inline-block;
}

#createPageRecruitingBody .positionForm {
	margin-top: 10px;
}