p
{
	font-family: 'Open Sans', sans-serif;	
}

body{
	font-family: 'Open Sans', sans-serif;
}

#landingBody, #loginBody{
	background-color:#13a085;
}

.invisible{
	display:none;
}

.visible{
	display:block;
}

.inline{
	display:inline;
}

.logo1{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	/*font-style:italic;*/

	
	
}

.logo2{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	
	
}

#tagline{
	color:#1A6657;
	font-weight:400;
	font-size:10pt;
	text-align:center;
	padding-top:15px;
	width:180px;
	margin: 0 auto;
}

h1{
	margin-top:15px;
	text-align: center;
	font-size:33pt;
	text-shadow:3px 3px #1b7f6c;
	color:#dcfff4;
	font-weight:700;
	
}

h2{
	font-size:11pt;
	display:inline;
	
	float:left;
	padding-left:5px;
padding-top:9px;
margin-top:-34px;
	color:#145145;
	text-shadow:0px 0px;
}

h3{
	font-size:14pt;
	font-weight:400;
	float:left;
	margin-right:7px;
}

#landingBody{
	margin:0 auto;
	text-align:center;
}


#landingBody img{
	padding-top:20px;
	margin:0 auto;
	width:200px;
	/*width:50%;
	margin-left:25%;
	margin-right:25%;
	padding-top:30px;
	*/
}

#landingButton{
	font-family: 'Vollkorn', serif;
	width:200px;
	margin:0 auto;
	position:fixed;
	bottom:30px;
	left:0;
	right:0;
		
	/*width:80%;
	margin-left:15%;
	margin-left:15%;*/
	
}

a{
	text-decoration:none;
}

.landingButton{
	background-color:#1b7f6c;
font-weight:400;
	font-size:14pt;
	padding:7px 0px 5px 0;
	text-align:center;
	margin-top:20px;	
	color:#BDEFE0;
}


#loginButton, #signupButton, #createPageButton, #anythingButton, #startExploreButton{
	font-family: 'Vollkorn', serif;
	width:100px;
	margin:0 auto;
	background-color:#1b7f6c;
font-weight:400;
	font-size:13pt;
	padding:7px 5px 5px 5px;
	text-align:center;
	margin-top:20px;
	margin-bottom:5px;
}

#anythingButton, #startExploreButton{
	width:150px;
		font-family: 'Vollkorn', serif;
	margin:0 auto;
	background-color:#1b7f6c;
font-weight:400;
	font-size:13pt;
	padding:7px 5px 5px 5px;
	text-align:center;
}


#loginBody #textInput{
width:100%;
	margin:0 auto;
}

#loginBody input[type="text"], #loginBody input[type="password"]{
	margin-left:9%;
	margin-right:9%;
	margin-top:15px;
	line-height:25px;
	font-size:12px;
	padding-left:5px;
	width:80%;


}

.landingButton:hover, #loginButton:hover, #signupButton:hover, #createPageButton:hover, .doneEditingButton:hover, #anythingButton:hover, #startExploreButton:hover{
	background-color:#196656;
}

.landing{
	margin-top:50px;
}

 #loginButton, #signupButton, #createPageButton, .doneEditingButton, .editButton, #anythingButton, #startExploreButton, #searchBarButton{
	color:#FFFFFF;
}

#login{
	
	color:#BDEFE0;
	
}



#loginBody input{
	display:block;
}





.switch-toggle{
	width:200px;
	background-color:#444444;
	color:#eeeeee;
	margin: 10px 10px;
}

.btn-primary, .btn-info{
	background-color:#13a085;	
	background-image: none;
	background-repeat: none;
	filter: none;
	border-color: #13a085;
}

/***** signup page ****/

#signupButton{
	font-size:13pt;
}
ul
{
    list-style-type: none;
}

#signupBody form{
	width:80%;
	margin-left:9%;
	margin-right:9%;
}

#createPageLookingBody form, #createPageRecruitingBody form, .exploreBody form {
	width:80%;
	margin-left:9%;
	margin-right:9%;
}

#signupBody header, #createPageLookingBody header, #createPageRecruitingBody header, .exploreBody header{
	background-color:#13a085;
	height:40px;
	margin-bottom:20px;
}

#signupBody header div, #createPageLookingBody header div, #createPageRecruitingBody header div, .exploreBody header div{
	width:80%;
	margin:0 auto;
	text-align:center;
	padding-top:5px;
}

#signupBody header p, #createPageLookingBody header p, #createPageRecruitingBody header p, .exploreBody header p{
	line-height:26pt;
	font-family: 'Vollkorn', serif;
	display:inline;
	color:#ffffff;	
	text-shadow:2px 2px #1b7f6c;
font-size:24px;
text-align:center;
padding-bottom:20px;
vertical-align:middle;

}

#signupBody input[type="text"], #createPageLookingBody input[type="text"], #createPageRecruitingBody input[type="text"], .exploreBody input[type="search"]{
	display:block;
	margin-top:10px;
	line-height:20px;
	width:100%;
	
}

#birthday{
	margin-top:30px;
	
}

#signupBody select{
	margin-top:5px;
	margin-bottom:15px;
}

 #signupBody input[type="radio"]{
	margin-top:10px;
	font-size:12pt;
}

 #signupBody li label{
	font-size:10pt;
}

 #signupBody p{
 	margin-top:25px;
 	line-height:22px;
 }
 
 #signupBody ul{
 	margin-bottom:30px;
 }

/** Create Page **/

.pageIcon{
	width:15px;
}

.overviewIcons{
	float:right;
	margin-right:7px;
}

.saveDelete{
	float:right;
}

.doneEditingButton{
	font-family: 'Vollkorn', serif;
	width:80px;
	margin-left:0;
	margin-right:0;
	background-color:#1b7f6c;
font-weight:400;
	font-size:10pt;
	padding:7px 5px 5px 5px;
	text-align:center;
	display:inline-block;
}


.clear{
	clear:both;
}

.addIcon{
	width:19px;
}

.deleteIcon{

	float:right;
	width:12px;
	margin-top:5px;
	margin-bottom:2px;


}

#createPageLookingBody input, #createPageLookingBody textarea, #createPageRecruitingBody input, #createPageRecruitingBody textarea, .exploreBody input{
	width:100%;
	display:block;
	margin-top:10px;
	line-height:20px;
} 
#createPageLookingBody form, #createPageRecruitingBody form, .exploreBody form{
	width:80%;
}

#experienceInfo p, #companyInfo label{
	font-weight:300;
	font-size:8pt;
padding-top:2px;
float:left;
}

.exploreBody form p{
	font-weight:400;
	font-size:8pt;
padding-top:2px;
text-align: center;
color:#1B7F6C;

}

#companyInfo input[type="checkbox"]{
	width:13px;
	display:inline;
	margin-top:20px;
	margin-bottom:10px;
}

#companyInfo label{
	display:inline;
}

.addIcon{
	margin:3px 0 17px 0;
}

.editIcon{
	float:right;
	margin-bottom:10px;
}

.editButton{
	float:right;
	
	font-family: 'Vollkorn', serif;
	background-color:#75c8b0;
font-weight:400;
	font-size:9pt;
	padding:4px 7px 2px 7px;
	margin-bottom:2px;
	text-align:center;
}

.editButton:hover{
	background-color:#1b7f6c;
}

#educationHeader{
	margin-bottom:5px;
}

#experienceHeader{
	margin-bottom:5px;
}
 #skillsHeader{
 	margin-bottom:-4px;
 }


.educationSection, .experienceSection{
	margin-bottom:7px;
}

.availablePositionsSections{
	margin-top:25px;
}

.profileIcon{
	float:right;
	width:20px;
margin-top:-26px;
margin-right:10px;
}

#barBreak{
	width:100%;
	height:2px;
	background-color:#1B7F6C;
	margin-top:-20px;
}

.searchbar form{
	margin:0 auto;
	max-width:350px;
}

#searchBarBackground{
	background-color:#75C8B0;
}

.searchBar{
	
	height:40px;
	margin-top:0px;
	text-align:center;
	margin:0 auto;
	width:100%;
	max-width:330px;
}

.searchBar input, .searchBar a{
	float:left;	
	margin:0 auto;
}

.searchBar input[type="search"]{
	width:72%;
	max-width:250px;
margin-top:8px;	
}

.searchBar a{
	
	font-family: 'Vollkorn', serif;
	background-color:#1B7F6C;
font-weight:400;
	font-size:9pt;
	padding:4px 7px 2px 7px;
	margin-bottom:2px;
	text-align:center;
	margin-top:11px;
	margin-left:10px;
}

.yesOrNo{
	display:inline-block;
	padding-top:10px;
	margin:0 auto;
}


.yesOrNo img{
	width:40px;
	margin-right:5px;
	margin-bottom:10px;
}

#decision{
	width:95px;
	margin:0 auto;
}


.strong{
	font-family: 'Vollkorn', serif;
	font-weight:400;
	font-size:18pt;
	margin-bottom:0px;
}


.medium{
	font-size:13pt;
	font-weight:400;
	margin-bottom:5px;
}

.mediumLight{
	font-size:10pt;
	font-weight:400;
	margin-bottom:3px;
}

.lightV{
	font-family: 'Vollkorn', serif;
	font-weight:400;
	font-size:10pt;

}

.gap{
height:4px;
	
}

a{
	text-decoration: none;
	color:#000000
}

.light{
	font-size:10pt;
	font-weight:300;
	margin-top:4px;
	
}



.pageContainer{
	border:#13a085 solid 2px;
	width:70%;
	max-width:450px;
	margin:0 auto;
	padding:8%;
	background-color:#ffffff;
}

.h3Display{
	font-family: 'Vollkorn', serif;
	margin-top:25px;
	margin-bottom:5px;
	font-size:12px;
	color:#75c8b0;
	color:#13a085;
}

.h3DisplayTop{
	font-family: 'Vollkorn', serif;
	margin-bottom:5px;
	font-size:12px;
	color:#75c8b0;
	color:#13a085;
}


#skillsKey{
	margin-bottom:0;
}
#backgroundColor{
	background-color:#d6f2e9;
}

.spacing{
	height:100px;
}
.removeTopMargin{
	margin-top:0;
}


#signupBody header div, #createPageLookingBody header div, #createPageRecruitingBody header div{
	width:80%;
	margin:0 auto;
	text-align:center;
	padding-top:5px;
}

#signupBody header p, #createPageLookingBody header p, #createPageRecruitingBody header p, .exploreBody header p{
	line-height:26pt;
	font-family: 'Vollkorn', serif;
	display:inline;
	color:#ffffff;	
	text-shadow:2px 2px #1b7f6c;
font-size:24px;
text-align:center;
padding-bottom:20px;
vertical-align:middle;

}

.exploreBody header div{
	width:80%;

	margin:0 auto;
	text-align:center;
}

.logoHeader{
	font-size:18pt;
	text-shadow:2px 2px #1b7f6c;
	margin-top:0;
	color:#ffffff;
	padding-top:0 ;
	padding-top:0px ;
	
}

.logoHeader div {
	padding-top:0 !important;
	margin-top:0 !important;
}

.logoHeader div p div{
	padding-top:0 !important;
	margin-top:0 !important;
}




@media all and (min-width: 650px) {
	
	.exploreBody header div{
	width:550px;
}
	
	
	
}
