<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Hirepages</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,700,800,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="http://platform.linkedin.com/in.js">
            api_key: 77ff77sr59nis6
            authorize: true
        </script>
		{% load staticfiles %}
		<link href="{% static 'reset.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'likingpage.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'jquery-ui/css/custom-theme/jquery-ui.custom.min.css' %}" type="text/css" rel="stylesheet">
		<script src="{% static 'application.js' %}" type="text/javascript"></script>
		<script src="{% static 'jquery-ui/jquery-ui.custom.min.js' %}" type="text/javascript"></script>


	</head>
	<body id="createPageLookingBody">
		<!-- header with logo and 'create profile' -->
		<header>
			<div><p>Create Page</p></div>
			<h2><div class="inline logo1">Hire</div><div class="inline logo2">pages</div></h2>
		</header>
	
		{% load widget_tweaks %}
		<form id="lookingForm" action="/createlooking/" method="post">
			<!-- editing icons only visible once profile is created and user goes to edit-->
			<img class="editIcon">
			<img class="deleteIcon">
			<img class="saveIcon">
			
			<!-- *****put linkedin button here****** -->
			<script type="in/Login" data-onAuth="onLinkedInAuth" data-fields="positions"></script>
			
			<!-- Education Info -->
			<div id="educationInfo">
				<h3>Highest Level of Education:</h3>
				<div class="editButton">Edit</div>

				<img src="{% static 'img/deleteIcon.png' %}" class="deleteIcon pageIcon">
				<div class="educationSection">
					{{ form.school| attr:"placeholder:School" }}
					{{ form.major| attr:"placeholder:Major" }}
					{{ form.degree }}
					
				</div>
			</div>
			
			<!-- Experience Info -->
			<div id="experienceInfo">
				<h3 id="experienceHeader">Experience: </h3>
				<p> (jobs, projects, etc.)</p>
				<div class="experienceSection">
					{{ formset.management_form }}
					{% for f in formset %}
						<div class="experienceFormset">
							<div class="experienceForm">
								<img src="{% static 'img/deleteIcon.png' %}" class="deleteIcon pageIcon experienceDelete">
								<div class="experienceFields">
									{{ f.position| attr:"placeholder:Position" }}
									{{ f.company| attr:"placeholder:Company"}}
									
									{{ f.startDate| attr:"placeholder:Start date"| add_class:"start_date" }}
									{{ f.endDate| attr:"placeholder:End date"| add_class:"end_date" }}

									{{ f.description| attr:"placeholder: Description"}}

									{{ f.tags| attr:"placeholder:Tags seperate each tag with a space and a comma (ie. 'design, coding')"}}
									
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			
			<img src="{% static 'img/addIcon.png' %}" class="addIcon pageIcon" id="experienceAdd">
			
			<div>
			<h3 id="skillsHeader">Skills:</h3>
			<div class="clear"></div>
			{{ form.skills| attr:"placeholder:Tags seperate each tag with a space and a comma (ie. 'design, coding')"}}
			</div>
	
			
			
			
			<!-- submit button -->
			<div id="createPageButton" class="visible" href="#">Submit</div>
		</form>
		
		<div id="createPageButton" class="invisible" href="#">Done Editing</div>

	</body>
</html>
