<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Hirepages</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,300,400,700,800,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>

		{% load staticfiles %}
		<link href="{% static 'reset.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'likingpage.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'jquery-ui/css/custom-theme/jquery-ui.custom.min.css' %}" type="text/css" rel="stylesheet">
		<script src="{% static 'application.js' %}" type="text/javascript"></script>
		<script src="{% static 'jquery-ui/jquery-ui.custom.min.js' %}" type="text/javascript"></script>
	</head>
	<!-- header with logo and 'create profile' -->
	<body id="createPageRecruitingBody">
<header>
	<div><p>Create Page</p></div>
	<h2><div class="inline logo1">Hire</div><div class="inline logo2">pages</div></h2>
	
	
</header>
	
		{% load widget_tweaks %}
		<form id="recruitingForm" action="/createrecruiting" method="post">
			<!-- editing icons only visible once profile is created and user goes to edit-->
	
			
			<!-- Company Info -->
			<div id="companyInfo">
				<h3 id="companyHeader">Company: </h3>
				<div class="editButton">Edit</div>
				{{ form.name| attr:"placeholder:Company name"  }}
			
			<!-- checkbox to autopopulate company info -->
			<!-- <label><input type="checkbox" name="Check company information">Check for existing company information</label> -->
			{{ form.linkToWebsite }}
			{{ form.description }}
			</div>
			
			<div class="availablePositions">
				{{ formset.management_form }}
				{% for f in formset %}
				<h3 id="positionHeader">Available Position(s): </h3>
				<div class="availablePositionsSections">
					<div class="positionForm">
						<img src="{% static 'img/deleteIcon.png' %}" class="deleteIcon pageIcon positionDelete">
						{{ f.city| attr:"placeholder:Position city"| add_class:"positionCity positionField" }}
						{{ f.state| add_class:"positionState"| add_class:"positionField" }}
						{{ f.role| add_class:"positionField" }}

						{{ f.name| attr:"placeholder:Position"| add_class:"positionField" }}
						{{ f.tags| attr:"placeholder:Tags seperate each tag with a space and a comma (ie. 'design, coding')"| add_class:"positionField" }}
						{{ f.description| attr:"placeholder:Position description"| add_class:"positionField" }}
					</div>
				</div>
				{% endfor %}
				<img src="{% static 'img/addIcon.png' %}" class="addIcon pageIcon" id="positionAdd">
			</div>
			
			<!-- submit button -->
			<div id="createPageButton" class="visible" href="#">Submit</div>
	
		
			<div id="createPageButton" class="invisible" href="#">Done Editing</div>
		</form>
	</body>
</html>







