<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Hirepages</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,700,800,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
		
		{% load staticfiles %}
		<link href="{% static 'reset.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet">
	</head>
	
	
	<body id="landingBody">
		
			<h1><div class="inline logo1">Hire</div><div class="inline logo2">pages</div></h1>
		<img src="img/bookLogo.png" alt="bookLogo">
			
		<div id="landingButton">
			<a href="/signup"> <div class="landingButton" id="getStarted" >Get Started</div></a>
			
			<a href="login"> <div class="landingButton" id="login" >Login</div> </a>
		</div>
</body>
</html>



