<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Hirepages</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,700,800,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
		<link href="css/styles.css" type="text/css" rel="stylesheet">
	</head>

	<body id="loginBody">
		<form action="/login/" method="post">
			<!-- email/password -->
			<input type="text" name="email" placeholder="Enter your email">
			<input type="password" name="pwd" placeholder="Enter your password" >
			<!-- login button -->
			<input type="submit">Login</input>
		</form>

	</body>
</html>

