<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Hirepages</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,700,800,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
		<link href="css/styles.css" type="text/css" rel="stylesheet">
	</head>
	<!-- header with logo and 'create profile' -->
<header>
	<h2><div class="inline strongV">Hire</div><div class="inline lightV">pages</div></h2>
	<p>Create Profile</p>
	
</header>
	<body id="signupBody">
		<form action="/signup/" method="post">
			<!-- email/password -->
			{{ form.email }}
			{{ form.password }}
			
			<!-- name -->
			{{ form.firstName }}
		    {{ form.middleName }}
		    {{ form.lastName}}
			
			<!-- birthday -->
			{{ form.dateOfBirth}}

<!-- checkboxes to select if recruiting or looking -->
			<p>Are you recruiting or looking to be hired?</p>
			
			{{ form.role }}
			
			<!-- Continue button -->
			<input type="submit">Continue</input>
		</form>
		
		
		

	</body>
</html>
